# Ambiente virtuale
.venv/
env/
__pycache__/
*.pyc

# File di sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Jupyter notebook checkpoint
.ipynb_checkpoints/

# File temporanei
*.log
*.tmp

# VS Code
.vscode/
.idea/

# File compressi
*.zip
*.tar.gz
*northwind-er-diagram.png
